:root, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.row {
  margin-bottom: auto;
}

nav .brand-logo.left {
  left: 0.5rem;
  padding: 0;
}

.zivicard {
  margin: 0.2rem;
}

.post-actions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.post-action-button {
  width: 100%;
  padding: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.post-action-icon {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.3em;
  text-align: center;
  animation: wenns-wirklich-wichtig-is 3s linear infinite;
}

@keyframes wenns-wirklich-wichtig-is {
  46% {
    transform: rotate(0deg);
  }
  48% {
    transform: rotate(-12deg);
  }
  52% {
    transform: rotate(12deg);
  }
  54% {
    transform: rotate(0deg);
  }
}

.post-action-spinner {
  margin-top: 2em;
}

.dashboard-container {
  padding: 1rem;
}

.post-card-icon {
  animation: wenns-wirklich-wichtig-is 3s linear infinite;
}

.post-card-button {
  margin-top: 2em;
}

.huge-icon {
font-size: 10em;
}

.flade-icon {
  font-size: 8em;
}

.card-title {
  line-height: 33px !important;
}

.chart-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-wrapper {
  flex: 1 1 auto;
}

.card .card-title {
  font-size: 2rem;
}

zivicard .card .card-title {
  font-size: 1.7rem;
}

nav .brand-logo {
  font-size: 4rem;
}

nav ul a {
  font-size: 1.5rem;
}

nav {
  height: 4em;
  line-height: 4em;
}

img#zimon-hat {
  height: 0.8em;
  margin-top: 0.05em;
}

.fladeheading {
  font-size: 30px;
}

.fladetext {
  font-size: 25px;
}

.card.medium {
  height: 350px;
}

.card.small {
  height: 250px;
}

feel-the-bern .card {
  padding: 0.5em;
}

feel-the-bern .card img {
  width: 100%;
}

zivilist zivicard .card {
  max-width: 200px;
}

zivilist zivicard img {
  max-height: 200px;
}

zivilist zivicard .card .card-content {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

zivilist .row {
  justify-content: space-around;
}

ziviedit .card-content .row {
  font-size: 120%;
}

ziviedit .card-title input {
  font-size: 120%;
}

ziviedit .card-content input {
  margin-bottom: 0.3rem;
  height: 2rem;
}

ziviedit a.btn-flat {
  padding: 0;
}

ziviedit .icon-pulldown {
  padding-top: 0.3rem;
}

ziviedit .card-action a:hover {
  cursor: pointer;
}

zivis-tab .fixed-action-btn {
  bottom: 80px;
}

.card .card-content .card-title {
  display: inline-block;
}

pre#loaderror-pre {
  white-space: pre-wrap;
}

[hidden] {
  display: none;
}

.settings-modal.bottom-sheet {
  max-height: 90%;
}
