:root, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.row {
  margin-bottom: auto;
}

nav .brand-logo.left {
  left: 0.5rem;
  padding: 0;
}

.zivicard {
  margin: 0.2rem;
}

.post-actions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.post-action-button {
  width: 100%;
  padding: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.post-action-icon {
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-align: center;
}

.dashboard-container {
  padding: 1rem;
}

.huge-icon {
  font-size: 10em;
}
