<navbar></navbar>
<div class="polizei">
  <div class="valign-wrapper">
    <div class="valign center-align">
      POLIZEI LASSENS UNS BITTE REIN
    </div>
  </div>
</div>
<div class="dashboard-container">
  <div class="row">
    <zivilist class="col-xs-9"></zivilist>
    <postler class="col-xs-3"></postler>
  </div>
  <div class="row">
    <flade class="col-xs-6"></flade>
    <poststats class="col-xs-6"></poststats>
  </div>
  <div class="row">
    <tmsession class="col-xs-8"></tmsession>
    <netusage class="col-xs-4" *ngIf="env.enableNetUsage"></netusage>
  </div>
</div>
<settings-modal></settings-modal>
