<div class="card red medium white-text" *ngIf="stateInfo.state === states.Idle">
  <div class="card-content center-align valign-wrapper full-height">
    <div class="valign full-width center-align">
      <i class="material-icons huge-icon">mail_outline</i>
    </div>
  </div>
</div>

<div class="box" *ngIf="stateInfo.state === states.Preparation">
  <div class="card yellow accent-3 medium black-text">
    <div class="card-content">
      <span class="card-title">Postler:</span>
      <div class="row">
        <div class="col-xs-7">
          <zivicard [zivi]="stateInfo.postler"></zivicard>
        </div>
        <div class="col-xs-5 post-actions">
          <i class="material-icons post-action-icon large">mail</i>
          <button (click)="submitAction('accepted')" class="btn waves-effect waves-light post-action-button green">
            okay
          </button>
          <button (click)="submitAction('next')" class="btn waves-effect waves-light post-action-button red">
            nächster
          </button>
          <button (click)="submitAction('cancel')" class="btn waves-effect waves-light post-action-button orange">
            keine Post
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card red medium white-text" *ngIf="stateInfo.state === states.Action">
  <div class="card-content center-align valign-wrapper full-height">
    <div class="valign full-width center-align">
      <i class="material-icons huge-icon">mail_outline</i>
      <p>
        {{stateInfo.postler.name}} macht<br/>
        die Post...
      </p>
      <div class="preloader-wrapper active small post-action-spinner">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card yellow medium black-text" *ngIf="stateInfo.state == states.Reminder">
  <div class="card-content center-align valign-wrapper full-height">
    <div class="valign full-width center-align">
      <i class="material-icons huge-icon post-card-icon">credit_card</i>
      <p>
        Wurde die gelbe<br/>
        Karte zurückgelegt?<br/>
      </p>
      <p>(Falschaussage=Zweitgeborenes weg)</p>
      <button class="btn waves-effect waves-light post-card-button">hab!</button>
    </div>
  </div>
</div>
