<div class="card red medium white-text" *ngIf="stateInfo.state === states.Idle">
  <div class="card-content center-align valign-wrapper full-height">
    <div class="valign full-width center-align">
      <i class="material-icons huge-icon">mail_outline</i>
    </div>
  </div>
</div>

<div class="card yellow accent-3 medium white-text" *ngIf="stateInfo.state === states.Preparation">
  <div class="card-content">
    <span class="card-title">Postler:</span>
    <zivicard [zivi]="stateInfo.postler"></zivicard>
  </div>
</div>

<div class="card red medium white-text" *ngIf="stateInfo.state === states.Action || stateInfo.state == states.Reminder">
  <div class="card-content">
    no está implemento este stato del posto lo siento mucho s&ntilde;or
  </div>
</div>
