/*/ 0 Table of Content /*************************
  * 1. general styles
  * 2. picked-color styles
  * 3. list styles
  * 4. Misc
*************************************************/

/*/ 1. general styles /*/

* {
    cursor: pointer;
}

#colorpicker-picked-color {
    padding: 7px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

#colorpicker-picked-color.selected {
    background-color: #fafafa;
    color: #000000;
}

#colorpicker-picked-color:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#colorpicker-picked-color.selected:hover {
    background-color: #e3e3e3;
}


/*/ 2. picked-color styles /*/

#colorpicker-picked-color div,
#colorpicker-picked-color p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/*/ 3. list styles /*/

ul {
    margin: 0;
    padding: 10px;
    position: relative;
    border: 1px solid #CCCCCC;
    border-top: 0;
    background-color: #FFFFFF;
    max-height: calc((35px + 10px) * 5 + 10px);
    max-width: 100%;
    overflow-y: auto;
    line-height: 20px;
}

ul li {
    display: inline-block;
    position: relative;
    padding-right: 5px;
}

/*/ 4. Misc /*/

div.color-display {
    box-sizing: border-box;
}

div.color-display.small {
    height: 14px;
    width: 14px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #444444;
}

div.color-display.medium {
    height: 35px;
    width: 35px;
    border: 5px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #444444;
}

div.color-display.large {
    height: 75px;
    width: 75px;
    border: 10px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #444444;
}

div.color-display.hover:hover {
    border-width: 2px;
}

.selected div.color-display {
    border-style: hidden;
}