<div class="card medium blue white-text">
  <div class="card-content box" *ngIf="zivis">
    <div>
      <span class="card-title col-xs">Wer macht's?</span>
      <span class="card-title right-align col-xs">Wer anderer macht's in: {{remainingMins | numberFixedLen: 2}}:{{remainingSecs | numberFixedLen: 2}}</span>
    </div>
    <div class="row" *ngIf="zivis">
      <zivicard *ngFor="let zivi of zivis" [zivi]="zivi" class="col-xs"></zivicard>
    </div>
  </div>
  <div class="card-content valign-wrapper full-height" *ngIf="!zivis">
      <div class="valign center-align full-width">
        <h3>Zivireihenfolge außer Betrieb</h3>
        <p class="flow-text">Bitte beachten Sie die Fahrplanaushänge.</p>
        <p class="flow-text">Chefzivi entscheidet.</p>
      </div>
  </div>
</div>
