<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" (click)="settingsService.openSettingsModal()">
    <i class="large material-icons">settings</i>
  </a>
</div>
<div class="modal bottom-sheet settings-modal modal-fixed-footer" materialize="modal"
     [materializeActions]="settingsService.modalActions">
  <div class="row">
    <div class="col s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab"><a class="active" href="#settings-home">Einstellungen</a></li>
        <li class="tab"><a href="#settings-zivis">Zivis</a></li>
        <li class="tab"><a href="#settings-quotes">Zitate</a></li>
      </ul>
    </div>
  </div>
  <div class="modal-content">
    <home-tab id="settings-home"></home-tab>
    <zivis-tab id="settings-zivis"></zivis-tab>
    <quotes-tab id="settings-quotes"></quotes-tab>
    <br>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="settingsService.closeSettingsModal()">Done</a>
  </div>
</div>
