<div class="box">
  <div class="card small green darken-2 white-text">
    <div class="card-content">
      <span class="card-title smaller-font-line-height">Wer hat es am häufigsten gemacht?</span>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [legend]="false"
                chartType="bar"></canvas>
      </div>
    </div>
  </div>
</div>
